:root { 
--blue_gray_800_1e:#2d33501e; 
--gray_900_02:#161616; 
--blue_gray_100:#cccccc; 
--white_A700_3f:#ffffff3f; 
--gray_800:#484848; 
--gray_900:#1e1e1e; 
--gray_900_01:#1e1c31; 
--light_blue_400:#1abcfe; 
--amber_A400:#f2cd00; 
--green_A400:#0acf83; 
--gray_100:#f7f7f7; 
--black_900_1e:#0000001e; 
--black_900:#000000; 
--teal_700:#007879; 
--light_blue_A700:#0086fd; 
--blue_gray_900:#353535; 
--white_A700:#ffffff; 
--black_900_38:#00000038; 
}